.myDiv {
  
    background-image: url(clud.jpg);
    background-image: no-repeat;
    width: 1340px;
    height: 500px;
    
    text-align: left;
  }
  .kot{
    height:100px ;
    width: 200px; ;
  }
.main{
  display: flex;
  justify-content: space-between;
}
  li{
    list-style-type: none;
    padding-right: 50px;
    color: rgb(146, 143, 143);
  }
  ol{
    display: flex;
    justify-content: space-between;
  }
  .kot{
    height:100px ;
    width: 200px; ;
  }
.main{
  display: flex;
  justify-content: space-between;
}
  li{
    list-style-type: none;
    padding-right: 50px;
  }
  ol{
    display: flex;
    justify-content: space-between;
    display:flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 50px;
  }
  .low
{
    padding-right: 50px;
    padding-top: 40px;
}
.lom{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  
  }
  .fom{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    padding-left: 100px;
  }
  .len{
      width: 400px;
      height: 300px;
      padding-left: 100px;
      padding-top: 5px;
  }
  .loop{
    color:gray;
    border-radius: 40px;
    height: 40px;
    width: 100px;
    
    
  }
  h1{
    color: darkgray;
  }
  h3{
    color: darkgrey;
  
  }
  .right{
  
  }